zsh/zhistory
zsh/zlocal
zsh/.zcompdump
zsh/.zcompcache
# On fpath via zshrc, but nothing in it is ours: tools drop completions here as
# symlinks to machine-local paths, and jj tracks whatever isn't ignored.
zsh/completions/
emacs.d/auto-save-list/.saves*
emacs.d/recentf
.DS_Store
*.cache
irb_history
netrc
bundle
gitconfig-ssh
